body {
	font-family: sans-serif;
	font waight: bold;
	font-size: 18px;
	background-color: #354551;
	color: #fff;
}
header {
text-align: center;
margin-top: 40px;


}
.container {
	text-align: center;
	margin-top: 40px;
}
p {
	margin: 20px;

}
#game {
	color: red;
}
#gifimage {
	

}